div {
    padding-left: 30px;
    padding-right: 30px;
}

select,
label {
    box-sizing: border-box;
    display: block;
}

#select-label {
    font-size: 15px;
    padding-bottom: 7px;
}

#select-field {
    height: 50px;
    border: 1px solid #7764E4;
    border-radius: 5px;
    box-shadow: 0 2px 4px #1717172E;
    font-size: 15px;
    padding-left: 30px;
}

.S select {
    width: 35%;
}

.M select {
    width: 70%;
}

.L select {
    width: 100%;
}