#select-label {
  display: block;
  padding-bottom: 8px;
  font-size: 15px;
  color: #172B4D;
}

#select-field {
  height: 50px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #F7FAFC;
  color: #172B4D;
  font-size: 15px;
  padding-left: 24px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px #1717171E;
  font-style: normal;
}

textarea:focus, input:focus {
  color: #7764E4;
  background-color: #FFFFFF;
}

.no-padding {
  padding-bottom: 0;
}

.bottom-padding {
  padding-bottom: 16px;
}

.S input {
  width: 35%;
}

.M input {
  width: 70%;
}

.L input {
  width: 100%;
}
