.container {
  height: 100%;
  background-color: #172C4C;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hacker {
  position: relative;
  height: 195px;
}

.page {
  position: relative;
  border-radius: 10px;
  background-color: white;
  width: 500px;
  margin-top: 200px;
  padding: 30px;
}

.login-button {
  padding: 30px;
}
