<div class="container">
  <img class="hacker" src="/assets/hacker.png" alt="Pim Pam Programmeur">
  <div class="login-page">
    <h1>Pim Pam Programmeur</h1>
    <p>Welkom! Login om verder te gaan.</p>
    <ppp-input (inputFieldChange)="getEmail($event)" [type]="'email'" size="L" icon="email" [placeholder]="'Gebruikersnaam of email'"></ppp-input>
    <ppp-input (inputFieldChange)="getPassword($event)" [type]="'password'" size="L" icon="lock" [placeholder]="'Wachtwoord'"></ppp-input>
    <div style="padding-bottom: 16px"></div>
    <ppp-button [loginButton]="true" (clicked)="inloggen()" [type]="'highlight'">Inloggen</ppp-button>
    <p class="mat-error" *ngIf="loginFailed">Login is mislukt. Probeer het opnieuw.</p>
  </div>
</div>
