.container {
  height: 100%;
  background-color: #172C4C;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hacker {
  position: absolute;
  height: 165px;
  top: 83px;
}

.page {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  width: 425px;
  top: 50px;
  margin-top: 200px;
  padding: 30px;
  text-align: center;
}

.login-button {
  position: relative;
}

article p {
  margin-bottom: 30px;
}

h1 {
  color: #172B4D;
}
