<overview-template [title]="'Modules'"
                   [isAdmin]="true"
                   [icon]="'layers'">
  <ppp-content-overview [title]="'Module Wijzigen'" [size]="'auto'">
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="input-field-padding">
      <ppp-input [size]="'L'" (inputFieldChange)="getInputValue($event)" value="{{ moduleName }}">
        Naam
      </ppp-input>
      <ppp-button class="align-button" (clicked)="update()">Toevoegen</ppp-button>
    </div>
  </ppp-content-overview>
</overview-template>
