.content-overview {
  display: grid;
  grid-template-rows: 80px auto;
  grid-gap: 0;
  height: auto;
  border-radius: 8px;
  background-color: white;
}

.title {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  padding-left: 32px;
  font-weight: normal;
  border-bottom: 0.5px solid #8898AA4E;
}

.title-no-border {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  padding-left: 32px;
  font-weight: normal;
}

.main-content {
  grid-row: 2 / 3;
}

.max {
  height:100%;
}

.auto {
  height: auto;
}

.medium {
  height: 440px;
}

.small {
  height: 280px;
}

