.no-padding {
  padding-bottom: 0;
}

.bottom-padding {
  padding-bottom: 16px;
}

.S input {
  width: 35%;
}

.M input {
  width: 70%;
}

.L input {
  width: 100%;
}

.input-icons mat-icon {
  position: absolute !important;
  padding: 14px 14px;
}

/* extra padding when this input field contains an icon */
.icon {
  padding-left: 44px;
}
