<ppp-content-overview [title]="'Klassen Overzicht'" size="'auto'" [hideBorder]="true">

  <div class="overview-start with-three-columns">
    <h4 class="column-header header-one">NAAM</h4>
    <h4 class="column-header header-two">OPLEIDING</h4>
    <h4 class="column-header header-three">MODULE</h4>
  </div>

  <div class="empty-board" *ngIf="klassen.length < 1; else itemsPresent">
    <span class="empty-board-text">
      Er zijn nog geen klassen toegevoegd. Klik op de knop rechtsonder om een klas toe te voegen.
    </span>
  </div>
  <ng-template #itemsPresent>
    <cdk-virtual-scroll-viewport itemSize="72" class="items-container">
      <klassen-item *cdkVirtualFor="let klas of klassen; let even = even"
                    [klas]="klas"
                    [background]="even? 'light-item-clickable' : 'dark-item-clickable'"
                    (menuItemClicked)="menuItem($event)">
      </klassen-item>
    </cdk-virtual-scroll-viewport>
  </ng-template>

  <ppp-button class="align-button bottom-right-padding" (clicked)="toevoegen()">Toevoegen</ppp-button>

</ppp-content-overview>
