.ppp-button {
  color: #FFF;
  width: 127px;
  height: 45px;
  background: #7764E4 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #2C28281C;
  border-radius: 5px;
}

.ppp-button:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.ppp-button.secondary {
  background-color: #F53C56;
}

.ppp-button.highlight {
  background-color: #11CDEF;
}
