.container {
  min-height: 100%;
  background-color: #172C4C;
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 32px;
  padding: 48px;
}
.theory {
  grid-row: 1 / 2;
}

schermen-question {
  grid-row: 2 / 3;
}
