<div [ngClass]="hasVerticalScrollbar ? 'needs-margin' : null">
  <div [ngClass]="background" class="column-items-start with-two-columns">

    <span class="column-one" id="title">{{ screenInput.title }}</span>
    <span class="column-two column-double">

  <span class="column-double-first-child" id="question">{{ question }}</span>
    <span class="column-double-second-child-end">
    <ppp-three-dot-button (menuItemClicked)="menuItem($event)" [menuItems]="menuItems"></ppp-three-dot-button>
    </span>
  </span>
  </div>
</div>
