<div class="modules-overview">
  <h3 class="title">Modules overzicht</h3>
  <h4 class="name column">NAAM</h4>
  <h4 class="status column">STATUS</h4>
  <h4 class="date-added column">DATUM TOEGEVOEGD</h4>

  <cdk-virtual-scroll-viewport itemSize="50" class="items-container">
    <modules-item *cdkVirtualFor="let module of modules"
                  [name]="module.name"
                  [status]="module.status"
                  [dateAdded]="module.dateAdded">
    </modules-item>
  </cdk-virtual-scroll-viewport>

  <ppp-button>Toevoegen</ppp-button>
</div>
