<ppp-content-overview *ngIf="screen.question" [title]="'Vraag'" [size]="'auto'">
  <form [formGroup]="answerForm">

    <p>{{ screen.question }}</p>

    <mat-radio-group formControlName="options">
      <div *ngFor="let answer of screen.answers; index as i">
        <mat-radio-button [value]="answer"></mat-radio-button>
        <label [ngClass]="{correct: correctAnswer === answer.id, wrong: wrongAnswer === answer.id}">
          <strong>{{ alphabet[i] + '.' }}</strong>
        </label>
        <p [ngClass]="{correct: correctAnswer === answer.id, wrong: wrongAnswer === answer.id}">
          {{ answer.description }}
        </p>
      </div>
    </mat-radio-group>

    <div class="question-buttons">
      <mat-error *ngIf="showRequiredError()">
        <strong>Vergeet niet een antwoord op te geven!</strong>
      </mat-error>
      <button *ngIf="screen.skippable"
              mat-flat-button
              class="warning"
              type="button"
              (click)="onSkip()">
        {{ getSkippableButtonText() }}
      </button>
      <button mat-flat-button
              type="button"
              (click)="onSubmit()">
        {{ getNextButtonText() }}
      </button>
    </div>

  </form>
</ppp-content-overview>
