<overview-template [title]="'Home'"
                   [isAdmin]="true"
                   [icon]="'layers'">
  <div class="sessies-overview">
    <h3 class="title">Sessie overzicht</h3>
    <h4 class="name column">NAAM</h4>
    <h4 class="status column">STATUS</h4>
    <h4 class="progress column">VOLTOOID</h4>
    <h4 class="date-started column">STARTDATUM</h4>
    <h4 class="time-started column">STARTTIJD</h4>
    <h4 class="time-ended column">EINDTIJD</h4>
    <div class="empty-board" *ngIf="sessies.length < 1; else itemsPresent">
      <span class="empty-board-text">
      Er zijn nog geen actieve sessies. Ga naar <b>modules</b> om een sessie te starten.
      </span>
    </div>
    <ng-template #itemsPresent>
      <cdk-virtual-scroll-viewport itemSize="50" class="items-container">

        <sessies-item *cdkVirtualFor="let sessie of sessies; let even = even"
                      [name]="sessie.name"
                      [status]="sessie.status"
                      [progress]="sessie.progress"
                      [dateStarted]="sessie.dateStarted"
                      [timeStarted]="sessie.timeStarted"
                      [timeFinished]="sessie.timeFinished"
                      [background]="even? 'light' : 'dark'">
        </sessies-item>

      </cdk-virtual-scroll-viewport>
    </ng-template>
  </div>
</overview-template>
