a {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding: 12px 32px;
}

a:hover,
a.active {
  cursor: pointer;
  background-color: #F7FAFC;
  color: green;
}

a:hover i,
a.active i {
  filter: brightness(50%);
}

span {
  padding-left: 16px;
}

.ppp-sidebar {
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-rows: 70px 24px repeat(3, 48px);
  grid-template-columns: 1fr;
}

.role {
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 24px;
  padding-left: 32px;
  padding-top: 32px;
}

.home {
  grid-row: 3 / 4;
}

#home {
  color: #7764E4;
}

.klassen {
  grid-row: 4 / 5;
}

#klassen {
  color: #F53C56;
}

.modules {
  grid-row: 5 / 6;
}

#modules {
  color: #11CDEF;
}

#role {
  float: right;
  padding: 6px;
  transform: rotate(-90deg);
}
