<overview-template [title]="'Modules'"
                   [isAdmin]="true"
                   [icon]="'layers'">
  <ppp-content-overview [title]="'Module Toevoegen'" [size]="'auto'">
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="empty-board" *ngIf="loading">
      <span class="empty-board-text">
      Module wordt verstuurd..
    </span>
    </div>
    <div *ngIf="!loading">
      <div class="input-field-padding">
        <ppp-input [size]="'L'" (inputFieldChange)="getInputValue($event)">
          Naam
        </ppp-input>
        <ppp-button class="align-button" (clicked)="add()">Toevoegen</ppp-button>
      </div>
    </div>
  </ppp-content-overview>
</overview-template>
