<div class="studenten-overview">
  <h3 class="title">Studenten - {{ klasNaam }}</h3>
  <h4 class="student-name column">NAAM</h4>
  <h4 class="studenten-lastname column">ACHTERNAAM</h4>
  <h4 class="studenten-email column">EMAIL</h4>
  <h4 class="studenten-date column">DATUM TOEGEVOEGD</h4>
  <div class="empty-board" *ngIf="studenten?.length < 1; else itemsPresent">
    <span class="empty-board-text">
    Er zijn nog geen studenten toegevoegd. Klik op de knop rechtsonder om een student toe te voegen.
    </span>
  </div>
  <ng-template #itemsPresent>
    <cdk-virtual-scroll-viewport itemSize="50" class="items-container">
      <studenten-item *cdkVirtualFor="let student of studenten; let even = even"
                    [student]="student"
                    [background]="even? 'light' : 'dark'"
                    (menuItemClicked)="menuItem($event)">
      </studenten-item>
    </cdk-virtual-scroll-viewport>
  </ng-template>
  <ppp-button (clicked)="toevoegen()">Toevoegen</ppp-button>
</div>
