.studenten-overview {
  height: 520px;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-rows: 60px 30px auto 100px;
  grid-template-columns: repeat(2, 2fr) repeat(2, 1fr);
}

.title {
  padding-left: 30px;
  font-weight: normal;
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.column {
  font-size: 12px;
  font-weight: normal;
  background-color: #F1F3F9;
  color: #8898AA;
  align-self: center;
}

.student-name {
  padding-left: 30px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.studenten-lastname {
  padding-left: 30px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.studenten-email {
  padding-left: 30px;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.studenten-date {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

ppp-button {
  grid-row: 4 / 5;
  grid-column: 1 / 5;
  justify-self: end;
  align-self: end;
  padding-right: 30px;
  padding-bottom: 30px;
}

.empty-board {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
  font-size: 16px;
  letter-spacing: 0;
  color: #172B4D;
  text-align: center;
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
}

.empty-board-text {
  display: flex;
  font-style: italic;
  justify-content: center;
}
