<ppp-content-overview [title]="getTitle()" size="'auto'" [hideBorder]="true">

  <div class="overview-start with-four-columns">
    <h4 class="column-header header-one">NAAM</h4>
    <h4 class="column-header header-two">ACHTERNAAM</h4>
    <h4 class="column-header header-three">EMAIL</h4>
    <h4 class="column-header header-four">DATUM TOEGEVOEGD</h4>
  </div>

  <div *ngIf="!loaded">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="empty-board" *ngIf="studenten == undefined || studenten.length < 1; else itemsPresent">
    <span class="empty-board-text" *ngIf="loaded">
      Er zijn nog geen studenten toegevoegd. Klik op de knop rechtsonder om een student toe te voegen.
    </span>
    <span class="empty-board-text" *ngIf="!loaded">
      Studenten worden opgehaald..
    </span>
  </div>

  <ng-template #itemsPresent>
    <cdk-virtual-scroll-viewport itemSize="50" class="items-container">
      <studenten-item *cdkVirtualFor="let student of studenten; let even = even"
                      [student]="student"
                      [background]="even? 'light-item' : 'dark-item'"
                      [hasVerticalScrollbar]="studenten.length > 5"
                      (menuItemClicked)="menuItem($event)">
      </studenten-item>
    </cdk-virtual-scroll-viewport>
  </ng-template>

  <ppp-button class="align-button bottom-right-padding" (clicked)="toevoegen()">Toevoegen</ppp-button>

</ppp-content-overview>
