<header class="ppp-header">
  <div class="left-part">

    <div class="flex-parent-bread-crumb">

      <span class="flex-child-menu-title">{{ title }}</span>
      <mat-icon class="material-icons-outlined flex-child-bread-crumb-icon">{{ icon }}</mat-icon>

      <span *ngFor="let breadCrumb of breadCrumbRoutes; let i = index"
           class="flex-child-bread-crump-route">
        <span class="separator" *ngIf="i != 0">-</span>
        <span [routerLink]="breadCrumb.route" class="router-link"> {{ breadCrumb.name }}</span>
      </span>

    </div>

  </div>

  <div class="right-part">
    <a class="logout"
       (click)="logout()">
      Uitloggen
    </a></div>

</header>
