.ppp-header {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
}

.title {
  color: white;
  text-align: center;
  padding: 10%;
  font-weight: bold;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.logout {
  color: white;
  text-align: center;
  padding: 10%;
  grid-row: 1 / 2;
  grid-column: 8 / 9;
}
