<overview-template [title]="'Klas'"
                   [isAdmin]="true"
                   [icon]="'layers'">
  <div class="klas-add">
    <h3 class="title">Klas toevoegen</h3>
    <ppp-input class="input-name" [size]="'L'" id="name" (inputFieldChange)="getNameValue($event)">
      Naam
    </ppp-input>
    <ppp-input class="input-major" [size]="'L'" id="major" (inputFieldChange)="getMajorValue($event)">
      Opleiding
    </ppp-input>
    <ppp-select class="input-module" [values]="modules" [size]="'L'" (selectFieldChange)="getSelectValue($event)">
      Module
    </ppp-select>

    <ppp-button (clicked)="add()">Toevoegen</ppp-button>
  </div>
</overview-template>
