<overview-template [title]="'Klassen'"
                   [isAdmin]="true"
                   [icon]="'person'">
  <ppp-content-overview [title]="'Klas Toevoegen'" [size]="'auto'">
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="input-field-padding">
      <ppp-input class="input-name" [size]="'L'" id="name" (inputFieldChange)="getNameValue($event)">
        Naam
      </ppp-input>
      <ppp-input class="input-major" [size]="'L'" id="major" (inputFieldChange)="getMajorValue($event)">
        Opleiding
      </ppp-input>
      <ppp-select class="input-module" [values]="modules" [size]="'L'" (selectFieldChange)="getSelectValue($event)">
        Module
      </ppp-select>
      <div class="align-button">
        <ppp-button (clicked)="add()">Toevoegen</ppp-button>
      </div>
    </div>
  </ppp-content-overview>
</overview-template>
