.klas-add {
    align-items: center;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 60px 1fr 100px;
}

.title {
    padding-left: 30px;
    font-weight: normal;
    grid-row: 1 / 2;
}

.input-name {
    grid-row: 2 / 3;
}

.input-major {
    grid-row: 3 / 4;
}

.input-module {
    grid-row: 4 / 5;
}

ppp-button {
    grid-row: 5 / 5;
    justify-self: end;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
