<overview-template [title]="'Modules'"
                   [isAdmin]="true"
                   [icon]="'layers'">
  <ppp-content-overview [title]="getTitle()" [size]="'auto'">
<!--Loading stuff-->
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="empty-board" *ngIf="loading">
      <span class="empty-board-text">
      Vraag wordt verstuurd..
    </span>
    </div>
    <div *ngIf="!loading">
      <!--Form start-->
      <form [formGroup]="screenForm">
        <div class="input-field-padding">
          <!--Title-->
          <ppp-form-input formControlName="title" type="text">Titel</ppp-form-input>
          <div class="end-of-input-padding"></div>
          <!--Theory-->
          <div class="input-label">Theorie</div>
          <editor
            class="form-field"
            formControlName="theory"
            [init]="{
                       base_url: '/tinymce',
                       suffix: '.min'  ,
                       height: 300,
                       menubar: true,
          plugins: [
          'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons'],
          toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl'}">
          </editor>
          <div class="end-of-input-padding-large"></div>
          <!--Question-->
          <div class="column-double-question">
            <ppp-form-input formControlName="question" class="column-double-question-first-child">Vraag</ppp-form-input>
            <mat-checkbox formControlName="skippable" class="column-double-question-second-child">
              Student mag vraag overslaan
            </mat-checkbox>
          </div>
          <div class="end-of-input-padding"></div>
          <!--Multiple Choice-->
          <div class="input-label">Selecteer het juiste antwoord</div>
          <mat-radio-group formControlName="correctAnswer">
            <!--A + B-->
            <div class="column-double with-gap">
            <span class="column-double-first-child">
              <span class="column-double-multiple-choice-option">
                <span class="column-double-multiple-choice-first-child">
                  <mat-radio-button value="A">A</mat-radio-button>
                </span>
                <span class="column-double-second-child">
                  <ppp-form-input type="text" formControlName="questionA"></ppp-form-input>
                </span>
              </span>
            </span>
              <span class="column-double-second-child">
              <span class="column-double-multiple-choice-option">
                <span class="column-double-multiple-choice-first-child">
                  <mat-radio-button value="B">B</mat-radio-button>
                </span>
                <span class="column-double-second-child">
                  <ppp-form-input type="text" formControlName="questionB"></ppp-form-input>
                </span>
              </span>
            </span>
            </div>
            <!--C + D-->
            <div class="column-double with-gap">
            <span class="column-double-first-child">
              <span class="column-double-multiple-choice-option">
                <span class="column-double-multiple-choice-first-child">
                  <mat-radio-button value="C">C</mat-radio-button>
                </span>
                <span class="column-double-second-child">
                  <ppp-form-input type="text" formControlName="questionC"></ppp-form-input>
                </span>
              </span>
            </span>
              <span class="column-double-second-child">
              <span class="column-double-multiple-choice-option">
                <span class="column-double-multiple-choice-first-child">
                  <mat-radio-button value="D">D</mat-radio-button>
                </span>
                <span class="column-double-second-child">
                  <ppp-form-input type="text" formControlName="questionD"></ppp-form-input>
                </span>
              </span>
            </span>
            </div>
          </mat-radio-group>
          <div class="end-of-input-padding"></div>
          <!--Feedback-->
          <ppp-form-input formControlName="feedback" type="text">Feedback</ppp-form-input>
          <!--Add Button-->
          <ppp-button (clicked)="addScreen()" class="align-button">Toevoegen</ppp-button>
        </div>
      </form>
    </div>
  </ppp-content-overview>
  <div class="end-of-input-padding-large"></div>
</overview-template>
