.column-double-question {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.column-double-question-first-child {
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.column-double-question-second-child {
  padding-top: 16px;
  padding-right: 16px;
  align-self: center;
  justify-self: end;
  font-size: 15px;
  padding-left: 24px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.scherm-container {
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  margin-bottom: 40px;
}

.header-grid {
  grid-row: 1/2;
  padding: 0 30px;
}

.titel-grid {
  grid-row: 2/3;
  padding: 0 30px;
}

.theorie-grid {
  grid-row: 3/7;
  padding: 0 30px;
}

.vraag-grid {
  grid-row: 7/8;
  padding: 0 30px;
}

.multiple-choice-grid {
  grid-row: 8/9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px 30px;
}

.questionA-grid {
  grid-column: 1/2;
}

.questionB-grid {
  grid-column: 2/3;
}

.questionC-grid {
  grid-column: 3/4;
}

.questionD-grid {
  grid-column: 4/5;
}

.feedback-grid {
  grid-row: 9/10;
  padding: 0 30px;
}

.toevoegen-grid {
  grid-row: 10/10;
  justify-self: end;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 30px;
}

mat-radio-button {
  padding-right: 16px;
}

input {
  height: 50px;
  border: 1px solid #7764E4;
  border-radius: 5px;
  box-shadow: 0 2px 4px #1717172E;
  font-size: 15px;
  box-sizing: border-box;
  display: block;
  padding-left: 30px;
}

.scherm-toevoegen-title {
  font-size: 18px;
  font-weight: normal;
  align-self: center;
  grid-row: 1/2;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin-top: 16px;
  margin-bottom: 0;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.skippable {
  padding-left: 32px;
}

.inputWidth input {
  width: 100%;
}
