/* Overlay Menu */

.mat-menu-customized {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #2C28281C;
  border-radius: 10px !important;
  opacity: 1;
}

.mat-menu-item-customized {
  text-align: right !important;
  font: bold 12px Poppins;
  letter-spacing: 0px;
  opacity: 1;
  color: #7764E4;
}

.mat-menu-item-red {
  color: #F53C56;
}

/* Button */

.mat-flat-button {
  box-shadow: 0px 3px 6px #2C28281C !important;
  border-radius: 5px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
  color: #FFFFFF;

  background-color: #7764E4;
  height: 50px;
}

/* Modal */

.ppp-modalbox > mat-dialog-container {
  border: 3px solid #f53c56;
  border-radius: 10px;
  background-color: #f53c56;
  width: 500px;
  color: white;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Snackbar */

.snackbar {
  font-style: normal;
  box-shadow: 0px 3px 6px #2C28281C;
  border-radius: 10px !important;
  opacity: 1;
  font: bold 15px Poppins !important;
  text-align: right !important;
  letter-spacing: 0px;
  color: white;
  background-color: limegreen;
}

.error{
  background-color: red;
}

