/* Overlay Menu */

.mat-menu-customized {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #2C28281C;
  border-radius: 30px;
  opacity: 1;
}

.mat-menu-item-customized {
  text-align: right;
  font: bold 12px Poppins;
  letter-spacing: 0px;
  color: #7764E4;
  opacity: 1;
}

/* Modal */

.ppp-modalbox > mat-dialog-container {
  border: 3px solid #f53c56;
  border-radius: 10px;
  background-color: #f53c56;
  width: 500px;
  color: white;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}
