/* You can add global styles to this file, and also import other style files */

/*noinspection CssUnknownTarget*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.align-button {
  display: flex;
  padding-top: 32px;
  justify-content: flex-end;
}

.input-field-padding {
  padding: 24px 32px 32px;
}
