<div class="screens-overview">

  <h3 class="title">Schermen overzicht</h3>
  <h4 class="titleModel column">Titel</h4>
  <h4 class="theory column">Theorie</h4>
  <h4 class="question column">Vraag</h4>
  <div class="empty-board" *ngIf="screens.length < 1; else itemsPresent">
    <span class="empty-board-text">
    Er zijn nog geen schermen toegevoegd. Klik op de knop rechtsonder om een vraag toe te voegen.
    </span>
  </div>
  <ng-template #itemsPresent>
  <cdk-virtual-scroll-viewport itemSize="50" class="items-container">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
    <screen-item *cdkVirtualFor="let screen of screens; let even = even"
                 cdkDrag [screen]="screen" [background]="even? 'light' : 'dark'">
    </screen-item>
    </div>
  </cdk-virtual-scroll-viewport>


  </ng-template>
  <ppp-button>Toevoegen</ppp-button>
</div>
