.sessies-item {
    height: 50px;
    font-size: 12px;
    align-items: center;
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
  }
  
  #name {
    font-weight: bold;
    padding-left: 30px;
    grid-column: 1 / 2;
  }
  
  #status {
    padding-left: 30px;
    grid-column: 2 / 3;
  }

.progress-bar {
  width: 50% !important;
  margin: 10px;

}

  #progress {
      padding-left: 30px;
      grid-column: 3 / 4;
      display: flex;   
      align-items: center;   
      direction: ltr;
  }
  
  #dateStarted {
    padding-left: 30px;
    grid-column: 4 / 5;
    justify-self: start;
  }
  
  #timeStarted {
    padding-left: 30px;
    grid-column: 5 / 6;
    justify-self: start;
  }

  #timeFinished {
    padding-left: 30px;
    grid-column: 6 / 7;
    justify-self: start;
  }
  
  
  .dark {
    background-color: #F7FAFC;
  }
  .light {
    background-color: #ffffff;
  }
  