.sessies-item {
    height: 50px;
    font-size: 12px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr) repeat(2, 1fr);
  }
  
  #name {
    font-weight: bold;
  }
  
  p {
    padding-left: 30px;
  }
  
  ppp-three-dot-button {
    justify-self: end;
    padding-right: 30px;
  }
  
  .dark {
    background-color: #F7FAFC;
  }
  .light {
    background-color: #ffffff;
  }
  